# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Data (optional - if large)
data/raw/
data/processed/

# Plots/images (optional)
*.png

# Build files
dist/
build/

# Env files
.env